@model HB.Presentation.Models.Reservation.ReservationVM


@{
    ViewData["Title"] = "Home Page";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/General.css">

</head>

<body>

    <p>
        <center>
            <section>
                <img class="mySlides" src="/uploads/hotel3.jpg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/hotel.jpg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/hotel5.jpg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/hotel8.jpg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/h1.jpeg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/h2.jpeg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/h3.jpeg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/h4.jpeg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/h5.jpeg" style="float:right;width:900px;height:500px">
                <img class="mySlides" src="/uploads/h6.jpeg" style="float:right;width:900px;height:500px">
            </section>

        </center>

        <br />
        <br />
        <h4>Our Hotel Facilities </h4>
        <br />

        <h4>&nbsp;&nbsp;<span style='font-size:20px; color:indigo;'>&#9733;</span> Pool  </h4>
        <h4>&nbsp;&nbsp;<span style='font-size:20px; color:indigo;'>&#9733;</span> Canoe  </h4>
        <h4>&nbsp;&nbsp;<span style='font-size:20px; color:indigo;'>&#9733;</span> Live Music </h4>
        <h4>&nbsp;&nbsp;<span style='font-size:20px; color:indigo;'>&#9733;</span> Fireplace  </h4>
        <h4>&nbsp;&nbsp;<span style='font-size:20px; color:indigo;'>&#9733;</span> Table Games  </h4>
        <br /> <br /> <br /> <br /> <br />


    </p>
</body>
<br>
<br>
<br>
<br>
<br>
</html>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3000);
    }
</script>




