
@{
    ViewData["Title"] = "Extra Service";
}

<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
    <title>Extra Services</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/General.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <center>
        <h2>Extra Services</h2>
        <section>
            <img class="mySlides" src="/uploads/Extra1.jpg" style="float:right;width:600px;height:250px">
            <img class="mySlides" src="/uploads/SwimmingPool1.jpg" style="float:right;width:600px;height:250px">
            <img class="mySlides" src="/uploads/Extra2.jpg" style="float:right;width:600px;height:250px">
            <img class="mySlides" src="/uploads/Extra3.jpg" style="float:right;width:600px;height:250px">
            <img class="mySlides" src="/uploads/Extra4.jpg" style="float:right;width:600px;height:250px">
            <img class="mySlides" src="/uploads/SwimmingPool2.jpg" style="float:right;width:600px;height:250px">
            <img class="mySlides" src="/uploads/SwimmingPool3.jpg" style="float:right;width:600px;height:250px">
        </section>
    </center>

    <form name="myForm" action="@Url.Action("ExtraService","ExtraService")" method="post" required>
        <label for="servicetype">Service Type:</label>
        <select id="servicetype" required>
            <option value="Spa">Spa</option>
            <option value="Hamam">Hamam</option>
            <option value="Restaurant">Restaurant</option>
            <option value="IndoorPool">Indoor Pool</option>
        </select>
        <br>
        <br>
        <label for="numperson">Number of Person:</label>
        <select id="numperson" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <p>
            Date:
            <input value="Date:" type="date" required>
            <br>
        </p>
        <p>
            Time:
            <input value="Time:" type="time" required>
            <br>
        </p>
        <label for="pnrnumber">PNR Number:</label>
        <input type="text" id="pnrnumber" name="txtPNRNumber" placeholder="Enter PNR number" required><br>
        <br>
        <button type="submit" class="button" action="@Url.Action("Index","Payment")"><span> Search </span></button>
    </form>
</body>

</html>

<script>
    function validateForm() {
        var x = document.forms["myForm"]["pnrnumber"].value;
        if (x == "" || x == null) {
            alert("All information must be filled out");
            return false;
        }
    }
</script>

<script>

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3000);
    }
</script>

