@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/SignUp.css">


</head>
<body>

    @if (TempData["Info"] != null)
    {
        <p class="alert-light">@TempData["Info"]<span class="close"></span></p>
    }

    <form action="@Url.Action("SignUp","Register")" id="contact-form" method="post" style="max-width:500px;margin:auto">
        <div class="container">

            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="usrname">Name</label>
            <input type="text" id="usrname" name="txtFirstName" placeholder="Enter your name" title="*Enter your name" required>

            <label for="sname">Surname</label>
            <input type="text" id="snmame" name="txtLastName" placeholder="Enter your surname" title="*Enter your surname" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="txtEmail" placeholder="Enter your e-mail" title="*Enter your e-mail" required>

            <label for="phonenum">Phone Number</label>
            <input type="tel" id="phonenum" name="txtPhnNo" placeholder="Enter your phone number" title="*Enter your phone number" required>

            <label for="psw">Password</label>
            <input type="password" id="psw" name="txtPassword" placeholder="Enter your password" title="*Enter your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

            <label for="psw_ag">Password Again</label>
            <input type="password" id="psw_ag" name="txtPasswordRetry" placeholder="Enter your password again" title="*Enter your password again" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

            <p>Do you have an account?  <a href="@Url.Action("Index", "Login")" style="color:Indigo"><u>Sign in </u></a></p>
            <div class="clearfix">

                <input type="submit" formaction="@Url.Action("Index","Register")" value="Sign Up">


            </div>
        </div>
    </form>
</body>

</html>
